
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.png
*.bak
*.cache
*.aux
*.blg
*.out
*.synctex.gz
*.toc
*.run.xml
*.ilk
*.bcf
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.prof
*.xml
obj/
**/.idea/
.idea/
**/.vscode
**/__pycache__
**/.ipynb_checkpoints
*.ipynb
**/trained_agents
**/logs
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
**/pyGem
#Nuget packages folder
packages/

**.xml
baselines/